@model Database_website_yml.Models.Person
@{
    ViewData["Title"] = "Contact";
}
<h1>@ViewData["Title"]</h1>

<form method="post">
    <div>Voornaam: <input type="text" name="firstname" /></div>
    @Html.ValidationMessageFor(m => m.firstname)
    <div>Achternaam: <input type="text" name="lastname" /></div>
    @Html.ValidationMessageFor(m => m.lastname)
    <div>E-mail: <input type="text" name="email" /></div>
    @Html.ValidationMessageFor(m => m.email)
    <div>Telefoon: <input type="text" name="phone" /></div>
    @Html.ValidationMessageFor(m => m.phone)
    <div>Adres: <input type="text" name="address" /></div>
    @Html.ValidationMessageFor(m => m.address)
    <div>Bericht: <input type="text" name="message" /></div>
    @Html.ValidationMessageFor(m => m.message)
    <input type="submit" value="opslaan" />
</form>
@if(Model!= null){
<p>Hoi, @Model.firstname @Model.lastname</p>
}