</div>
@model Database_website_yml.Models.Film

<div class="detail-big-slide">
    <div class="mySlides" style="width: 100%; height:50%">
        <img src="@Model.image" style="width: 100%; height:50%">
    </div>

    <div class="mySlides">
        <div class="yt">
        <iframe src="@Model.trailer"></iframe>
        </div>
        <div class="text">Trailer</div>
    </div>
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>

<div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
</div>
<br>
<div class="detail-name"><h1>@Model.name</h1></div>
<div class="detail-age"><img src="@Model.age" width=100 height=100 /></div>
<div class="detail-description">@Model.description</div>
<br>
<div class="detail-trailer" style="text-align: center">
    <h1>Bekijk de trailer</h1>
    <br>
    <iframe src="@Model.trailer" width="480" height="270" style="border: 5px solid #E6E6E6"></iframe>
    <br><br />
</div>

